
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN EDIT PRODUCTS</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.7/datatables.min.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="lni lni-grid-alt"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="#">ZAINAY</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="admin_user_mgmnt" class="sidebar-link">
                        <i class="lni lni-user"></i>
                        <span>USER MANAGEMENT</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="admin_pdct_mgmnt" class="sidebar-link">
                        <i class="lni lni-agenda"></i>
                        <span>PRODUCT MANAGEMENT</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="admin_category" class="sidebar-link">
                        <i class="lni lni-agenda"></i>
                        <span>CATEGORY MANAGEMENT</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#multi" aria-expanded="false" aria-controls="multi">
                        <i class="lni lni-layout"></i>
                        <span>Multi Level</span>
                    </a>
                    <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                                data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
                                Two Links
                            </a>
                            <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Link 1</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Link 2</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-popup"></i>
                        <span>ORDER MANAGEMENT</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-cog"></i>
                        <span>COUPON MANAGEMENT</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-cog"></i>
                        <span>BANNER MANAGEMENT</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-cog"></i>
                        <span>SALES REPORT</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-cog"></i>
                        <span>ENQUIRIES</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>Logout</span>
                </a>
            </div>
        </aside>
        <div class="main">
            <nav class="navbar navbar-expand px-4 py-3">
                <form action="#" class="d-none d-sm-inline-block">

                </form>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                                <img src="/account.png" class="avatar img-fluid" alt="">
                            </a>
                            <div class="dropdown-menu dropdown-menu-end rounded">

                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="content px-3 py-4">
                <div class="container-fluid">
                    <div class="mb-3">
                        <h3 class="fw-bold fs-4 mb-3"><a href="admin_edit_product">EDIT PRODUCT</a></h3>
                        <div class="row">
                          <form id="add-product-form" action="/admin/edit_product/<%= product_List._id%>" method="post" enctype="multipart/form-data">
          
                            <div class="form-group">
                              <label for="price">Product Id:</label>
                              <div class="input-group">
                                <input type="text" class="form-control" id="productid" name="productid" value="<%=product_List.productid%>" min="0" step="1" required>
                              </div>
                            </div>
                      
                            <div class="form-group">
                              <label for="name">Product name:</label>
                              <input type="text" class="form-control" id="productname" name="productname" value="<%=product_List.productname%>"required>
                            </div>
                      
                            <div class="form-group">
                              <label for="category">Category:</label>
                              <select class="form-control" id="category" name="category" value="<%=product_List.category%>" required>
                                <option value="" disabled selected>Select category</option>
                                <% categories.forEach(categry => { %>
                                    <option value="<%= categry._id %>" <% if (product_List.category.toString() === categry._id.toString()) { %> selected <% } %>><%= categry.title %></option>
                                <% }); %>
                              </select>
                            </div>
                      
                            <div class="form-group">
                              <label for="description">Description:</label>
                              <textarea class="form-control" id="description" name="description" value="<%=product_List.description%>" rows="5" required></textarea>
                            </div>
                      
                            
                      
                            <div class="form-group">
                              <label for="price">Price:</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" id="price" name="price"value="<%=product_List.price%>" min="0" step="0.01" required>
                              </div>
                            </div>
                      
                            <div class="form-group">
                              <label for="image">Image:</label>
                              <div class="custom-file">
                                <input type="file" class="custom-file-input" id="image" name="image" accept="image/*"  multiple required>
                                <label class="custom-file-label" for="image">Choose file</label>
                              </div>
                              <div id="image-preview" class="mt-2"></div>
                            </div>
                      
                      
                            <button type="submit" class="btn btn-primary">Edit Product</button>
                           
                          </form> 
                            
                            
                        </div>
                        
                        
                    </div>
                </div>
            </main>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-body-secondary">
                        <div class="col-6 text-start ">
                            <a class="text-body-secondary" href=" #">
                                <strong>ZAINAY</strong>
                            </a>
                        </div>
                        <div class="col-6 text-end text-body-secondary d-none d-md-block">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a class="text-body-secondary" href="#">Contact</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-body-secondary" href="#">About Us</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-body-secondary" href="#">Terms & Conditions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script >const hamBurger = document.querySelector(".toggle-btn");

        hamBurger.addEventListener("click", function () {
          document.querySelector("#sidebar").classList.toggle("expand");
        });</script>
</body>

</html>
